<div class="containerliquid whitebg">
    <div class="col-md-4 col-md-offset-4">
        
       					
<div class="portlet light bordered container-groxer">
  
    <div class="portlet-body">

     <form name="resetPasswordForm" class="bv-form" method="post" ng-submit="resetPassword()">

        <h2 class="text-center font-green-haze bold">Password Reset</h2>

        <div class="clearfix">&nbsp;</div>

        <div class="form-group form-md-line-input"  ng-class="{ 'has-error' : resetPasswordForm.email.$invalid && resetPasswordForm.email.$dirty }">
            <input class="form-control" type="email" name="email" ng-model="email" placeholder="Email" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required autofocus>

            <span class="help-block" ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$error.required">
                Your email address is required
            </span>
            <span class="help-block" ng-show="resetPasswordForm.email.$dirty && ! resetPasswordForm.email.$error.required && resetPasswordForm.email.$error.pattern">
                Your email address is invalid
            </span>

        </div>

            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>

        <center>
            <button type="submit" ng-disabled="resetPasswordForm.$invalid" class="btn btn-success">Reset Password</button>
        </center>
        <br>

       <!--  <p class="text-center text-muted">
            <small>Don't have an account yet? <a ui-sref="signUp">Sign up</a></small>
        </p> -->

    </form>
    </div>
</div>
</div>
    
</div>
