<div class="containerliquid whitebg">
    <div class="col-md-5 col-md-offset-4">
        
       					
<div class="portlet light bordered container-groxer">
    <div class="portlet-title ">
<form id="accountform" name="accountform" class="bv-form" method="post">

<h2 class="text-center font-green-haze bold">Change Password</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

		
		<div ng-class="{ 'has-error' : accountform.code.$invalid && accountform.code.$dirty }" class="form-group form-md-line-input">
            <input type="text"  placeholder="Code" ng-model="code" name="code" class="form-control" required="true">
			
      			 <span class="help-block" ng-show="accountform.code.$error.required && accountform.code.$dirty">
                Auth code is required
              </span>
			
    </div>
		
		 <div ng-class="{ 'has-error' : accountform.password.$invalid && accountform.password.$dirty }" class="form-group form-md-line-input">
            <input type="password" placeholder="New password" ng-model="password" name="password" required="true" class="form-control" ng-minlength="6" ng-maxlength="20">

            <span class="help-block" ng-show="accountform.password.$error.required && accountform.password.$dirty">
                Password is required
              </span>

               <span class="help-block" ng-show="accountform.password.$error.minlength && accountform.password.$dirty">
                  Your password should contain atleast 6 characters
              </span>

               <span class="help-block" ng-show="accountform.password.$error.maxlength && accountform.password.$dirty">
                  Sorry you are exceeding the limit
              </span>              
			
      </div>

          <div ng-class="{ 'has-error' : (accountform.confirmPassword.$invalid || ! isPasswordMatch()) && accountform.confirmPassword.$dirty }" class="form-group form-md-line-input">
            <input type="password" placeholder="Confirm password" ng-model="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control" required="true">

            <span class="help-block" ng-show="accountform.confirmPassword.$error.required && accountform.confirmPassword.$dirty">
                 Confirm Password is required
              </span>

               <span class="help-block" ng-show="! isPasswordMatch() && accountform.confirmPassword.$dirty && ! accountform.confirmPassword.$error.required">
                  Password must match
              </span>

          </div> 
        
      </div>
       
      </div>
  </div>
  
  <div class="row">
  <br>
    <div class="col-md-12 text-center">
      <center>
          <button class="btn btn-success  col-md-offset-1" ng-disabled="accountform.$invalid || !isPasswordMatch()" ng-click="resetPassword()" type="button" >Change Password</button>
    </center>        
    </div>
  </div>
</form>
    </div>


</div>  
    </div>
    
</div>